<div class="back-button" routerLink="/items">< Back to items</div>
<div class="item-wrap" *ngIf="item">
  <div class="item-pic-wrap">
    <img [src]="item.picture" [alt]="item.title" />
    <star-rating [(ngModel)]="rating" (ngModelChange)="rateItem()"></star-rating>
  </div>
  <div class="item-info">
    <h1 class="item-title">{{item.title}}</h1>
    <div class="price">{{item.price}}</div>
    <div class="item-description">{{item.description}}</div>
  </div>
</div>

<h1>You might be also interested in:</h1>
<div class="items-wrap">
  <div class="item" *ngFor="let i of recommendations" [routerLink]="'/items/' + i.item._id">
    <img [src]="i.item.picture" [alt]="i.item.title" />
    <h3>{{i.item.title}}</h3>
  </div>
</div>
